<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: name_head">
    <title> All Products Welcome page </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="snippets.html :: name_navbar"></nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-9">
                <div class="container">

                    <ul class="breadcrumb">
                        <li><a th:href="@{/ui/home}">Home</a></li>
                        <li><a th:href="@{/ui/product}">Products</a></li>
                        <li>List</li>
                    </ul>

                    <div class="form-inline">
                        <h3>Product List</h3>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-hover table-bordered table-sm table-bordered" id="product-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">GlobalSkuId</th>
                                            <th scope="col">#</th>
                                            <th scope="col">Client-SKU Id</th>
                                            <th scope="col">Client Name</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Brand Id</th>
                                            <th scope="col">MRP</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </main>
        </div>
        <footer th:replace="snippets.html :: name_footer"></footer>
        <script th:src="@{/static/viewAllProducts.js}"></script>
    </div>
</body>
</html>